<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Projects/testNG-practice/src">
        <classes>
            <class name="org.example.BeforeAfterClassTest">
                <methods>
                    <include name="testmethod1"/>
                    <include name="testmethod2"/>
                </methods>
            </class>
            <class name="org.example.BeforeAfterMethodTest">
                <methods>
                    <include name="testmethod1"/>
                    <include name="testmethod2"/>
                </methods>
            </class>
            <class name="org.example.SampleTestNG">
                <methods>
                    <include name="testAddPositive"/>
                    <include name="testAddNegative"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>